
body {
    background-color: green;
}
#outerbox {
    background-color: white;
    width: 70%;
    border-color: black ;
}
/*
table {
    border: 1px black solid;
}

td {
    padding: 15px;
    text-align: left;
}

table tr:nth-child(even) {
    background-color: antiquewhite;
}

table tr:nth-child(odd) {
    background-color: azure;
}
*/